{% extends 'base.html' %}

{% block content %}
    <div class="container_12 top">

        <div>
            <h2>{{ topic.name }}</h2>
            <p>{{ topic.text }}</p>
            <span>{{ topic.date|date:'Y M D - h:i' }}</span>
        </div>
        <hr>

        <h2>Comments:</h2>
        {% if comments %}
            {% for cmt in comments %}
            <div class="comment extra-wrap">
                <div>
                    <span class="comment-user">{{ cmt.user.username }}</span>
                    <span class="comment-date">{{ cmt.date }}</span>
                </div>
                <p class="text-small">{{ cmt.text }}</p>
            </div>
            {% endfor %}
        {% else %}
            <p>Коментариев не существует!</p>
        {% endif %}


        {% if user.is_authenticated %}
            <br><br>
            <h2>Добавить коментарий</h2>
            <div class="login form">
                <form class="comment-form" id="comment-form-add" action="{% url 'add_comment' topic.id %}" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <label for="">{{ field.label }}</label>
                        {{ field }}
                        <br>
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                        <br>
                    {% endfor %}
                    <button type="submit" class="bigButton">Добавити коментарий.</button>

                </form>
            </div>
        {% endif  %}

        <br>
        <a href="{% url 'topics' %}" class="link-2 right">Повернутись до тем</a>
    </div>


{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        // $(document).on('submit', '#comment-form-add', function (event) {
        //     event.preventDefault();
        //     $.ajax({
        //         type: "POST",
        //         url: "",
        //         data: {
        //             text: $('#textarea').val()
        //         },
        //         success: function (data, status) {
        //
        //         }
        //     })
        // });
    </script>
{% endblock %}
