{% extends  'base.html' %}


{% block content %}
    <div class="container_12 top">
        {% for item in topics  %}
        <div class="wrap-comments">
            <h2>
                <a href="{{ item.id }}" class="link">{{ item.name }}</a>
            </h2>
            <p>{{ item.text }}</p>
            <span>{{ item.date }}</span>
        </div>
        {% endfor %}
    </div>
{% endblock %}
