{% if filter_tasks %}
{% for task in filter_tasks %}
<div class="grid_4 task">
    <div>
        <a href="{% url 'task_view' task.id %}">
            <img width="285" src="{{ MEDIA_URL }}{{ task.image }}" alt="" class="img-border">
        </a>
        <p class="top-4">
            <a href="{% url 'task_view' task.id %}" class="link">{{ task.name }}</a><br>
            {{ task.description|truncatewords:"10" }}
        </p>
        <a href="{% url 'task_view' task.id %}" class="button top-4">Подробнее</a>
    </div>
</div>
{% endfor %}
{% else %}
<p>К сожелению таких заданий не существует!</p>
{% endif %}
