{% extends 'base.html' %}

{% block content %}
<!--==============================content================================-->
<section id="content">
    <div class="container_12 top">
        <div class="grid_12">
            <div class="find form">
                <input type="text" value="Поиск" id="search" onblur="if(this.value=='') this.value='Поиск'" onfocus="if(this.value =='Поиск' ) this.value=''">
            </div>
            <h2 class="p5">Акктуальные просьбы</h2>
        </div>

        <div id="tasks-content">
            {% for task in all_tasks %}
            <div class="grid_4 task">
                <div>
                    <a href="{% url 'task_view' task.id %}">
                        <img width="285" src="{{ MEDIA_URL }}{{ task.image }}" alt="" class="img-border">
                    </a>
                    <p class="top-4">
                        <a href="{% url 'task_view' task.id %}" class="link">{{ task.name }}</a><br>
                        {{ task.description|truncatewords:"10" }}
                    </p>
                    <a href="{% url 'task_view' task.id %}" class="button top-4">Подробнее</a>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="clear"></div>
    </div>
</section>
{% endblock %}


{% block scripts %}
    <script type="text/javascript">
        $("#search").on('keyup', function () {
            $.ajax({
                type: "POST",
                url: "{% url 'search_tasks' %}",
                data: {
                    'search': $("#search").val(),
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (data, status) {
                    $("#tasks-content").html(data)
                    // console.log(status)
                },
                dataType: 'html'
            })
        });
    </script>
{% endblock %}
