{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--==============================content================================-->
<section id="content">
    <div class="container_12 top">
        <div class="grid_8">
            <h2>{{ task.name }}</h2>
            <div class="box-5 right-1">
                <div class="date">{{ task.date_create|date:"H:i - d.m.Y" }}</div>
                <div class="author">
                    Автор:
                    <a href="{% url 'profile' task.user.id %}" class="link">{{ task.user }}</a>
                </div>
                <div class="clear"></div>
                <img src="{{ MEDIA_URL }}{{ task.image }}" width="650" alt="" class="img-border fleft">
                <p>{{ task.text }}</p>
                <div id="likes">

                </div>

                <div class="clear"></div>

                {% if user.is_authenticated %}
                    <div class="form login response-form">
                        <form action="{% url 'add_response' task.id %}" class="resp-form" method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <label for="">{{ field.label }}</label>
                                {{ field }}
                                <br>
                                {% for error in field.errors %}
                                    <span class="error">{{ error }}</span>
                                {% endfor %}
                            {% endfor %}

                            <button type="submit" class="btn-send">
                                <img src="{% static 'images/send.png' %}" alt="">
                            </button>
                        </form>
                    </div>

                    {% if responses %}
                        {% for item in responses %}
                            <div class="otklik">
                                <a href="{% url 'profile' item.user.id %}" class="link">{{ item.user }}</a>
                                <pre class="resp-text">{{ item.text }}</pre>
                                <div class="otkilik_data">{{ item.date|date:'d M Y. h:i' }}</div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>Откликов пока нету</p>
                    {% endif %}

                {% else %}
                    <p>Только зарегистрование пользователи могут добавлять и смотреть отклики!</p>
                {% endif %}
                <!-- <div class="otklik">
                    <a href="#" class="link">Mickey Goldberg</a>
                    <p>Я могу это сделать! Назначьте меня на это задание.</p>
                    <div class="otkilik_data">20 октября 2013 г. 18:04:47</div>
                </div> -->
          </div>
        </div>

        <div class="box-3-right">
            <h2>Ещё просьбы</h2>
            {% for sm_task in some_tasks %}
                <div>
                    <a href="{% url 'task_view' sm_task.id %}" class="link-2">{{ sm_task.name }}</a>
                    <a href="{% url 'task_view' sm_task.id %}">
                        <img src="{{ MEDIA_URL }}{{ sm_task.image }}" alt="" class="img-border">
                    </a>
                    <p>{{ sm_task.text|truncatewords:"10" }}</p>
                </div>
            {% endfor %}
            <a href="{% url 'tasks' %}" class="button">Больше просьб</a>
        </div>
        <!-- Put this div tag to the place, where the Comments block will be -->
        <div id="vk_comments"></div>
        <div class="clear"></div>
    </div>
</section>
{% endblock %}
