{% extends 'base.html' %}

{% block content %}
<section id="content">
    <div class="container_12 top people_wrap">
      <div class="find form">
          <input type="text" value="Поиск" id="search_people" onblur="if(this.value=='') this.value='Поиск'" onfocus="if(this.value =='Поиск' ) this.value=''">
      </div>
      <h2>Эти люди творят добрые дела</h2>
      <div class="clear"></div>

        <div id="people-content">
            {% for user in users %}
            <div class="box-6 top-5 fleft">
                <a href="{% url 'profile' user.id %}" class="link">
                    <img src="{{ MEDIA_URL }}{{ user.userprofile.avatar }}" alt="" class="img-indent img-border people">
                    <p>{{ user.username }}</p>
                </a>
            </div>
            {% endfor %}
        </div>


      <div class="clear"></div>
     </div>
 </section>
{% endblock %}


{% block scripts %}
    <script type="text/javascript">
        $("#search_people").on('keyup', function () {
            $.ajax({
                type: "POST",
                url: "{% url 'search_peole' %}",
                data: {
                    'search': $("#search_people").val(),
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (data, status) {
                    $("#people-content").html(data);
                },
                dataType: "html"
            })
        });
    </script>
{% endblock %}
