{% extends 'base.html' %}

{% block content %}
<!--==============================content================================-->
<section id="content">
    <div class="container_12 top">
        <div class="grid_8 profile">
            <div class="box-5 right-1">
                <img src="{{ MEDIA_URL }}{{ user.userprofile.avatar }}" alt="" class="img-border fleft ava">
                <h2>{{ user.username }}</h2>
                <!-- <p>Выполнил просьб: 20</p> -->
                <p>Просьб к сообществу: {{ all_tasks.count }}</p>
                <!-- <h3>Карма 300</h3> -->
                <!-- <a href="#"><img src="/media/images/icon-3.jpg" alt=""></a> -->
            </div>
        </div>
    <div class="grid_4">
        <h2>Просит</h2>
        {% if tasks %}
            {% for task in tasks %}
            <div class="box-6 top-5 profile-tasks">
                <a href="{% url 'task_view' task.id %}" class="link">{{ task.name }}</a>
                <img src="{{ MEDIA_URL }}{{ task.image }}" alt="" class="img-indent img-border">
                <p>{{ task.text|truncatewords:"10" }}</p>
            </div>
            {% endfor %}
        {% else %}
            <p>Нету просьб!</p>
        {% endif %}
        <a href="{% url 'tasks' %}" class="button top-4">Больше просьб</a> </div>
        <div class="clear"></div>
    </div>
</section>
{% endblock %}
