{% extends 'base.html' %}

{% block content %}
    <div class="container_12">
        <div class="login form">
            <form action="{% url 'register' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <br>
                <button type="submit" class="bigButton">Регистрация</button>
            </form>
        </div>
    </div>
{% endblock %}
