{% if filter_people %}
    {% for user in filter_people %}
    <div class="box-6 top-5 fleft">
        <a href="{% url 'profile' user.id %}" class="link">
            <img src="{{ MEDIA_URL }}{{ user.userprofile.avatar }}" alt="" class="img-indent img-border people">
            <p>{{ user.username }}</p>
        </a>
    </div>
    {% endfor %}
{% else %}
    <p>Таких пользователей нету!</p>
{% endif %}
