<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/grid_12.css' %}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/slider.css' %}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/jquery-ui-1.10.3.custom.min.css' %}">
    <script src="{% static 'js/jquery-1.7.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.10.3.custom.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'js/cufon-yui.js' %}"></script>
    <script src="{% static 'js/cufon-replace.js' %}"></script>
    <script src="{% static 'js/tms-0.4.1.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
</head>
<body>
    <header>
        <div>
            <div>
                <h1><a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="LOGO"></a></h1>
                <nav>
                    <ul class="menu">
                        <li><a href="{% url 'tasks' %}">Просьбы</a></li>
                        <li><a href="{% url 'people' %}">Люди</a></li>
                        <li><a href="/about/">О нас</a></li>
                        <li><a href="{% url 'topics' %}">Обсуждение</a></li>
                    </ul>
                </nav>
                <div class="clear"></div>
            </div>
        </div>
    </header>

    {% block content %}{% endblock %}

    <footer>
        <p>
            © 2017 PayForward<br>
            <a href="https://www.facebook.com/nazar.hamuliak" target="blank" class="link">Developed by Nazar Hamuliak.</a>
        </p>
        <div class="soc-icons">
            <span>Мы в соц. сетях:</span>
            <a href="#"><img src="{% static 'images/icon-1.jpg' %}" alt=""></a>
            <a href="#"><img src="{% static 'images/icon-2.jpg' %}" alt=""></a>
            <a href="#"><img src="{% static 'images/icon-3.jpg' %}" alt=""></a>
        </div>
    </footer>

    {% block scripts %}{% endblock %}
</body>
</html>
