{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div id="slide">
    <div class="slider">
        <ul class="items">
            {% for item in sliders %}
            <li>
                <img src="{{ MEDIA_URL }}{{ item.img }}" alt="Photo">
                <div class="banner">
                    <p class="text-1">{{ item.title }}</p>
                    <p class="text-2">{{ item.desc }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<!--==============================content================================-->
<section id="content">
    <div class="container_12">
        <div class="grid_6 box-1"> <img src="{% static 'images/page1-img1.png' %}" alt="">
            <div class="extra-wrap">
                {% if user.is_authenticated %}
                    <h2><a href="{% url 'create_task' %}" class="ask" id="create_task">Есть просьба!</a></h2>
                {% else %}
                    <h2>Есть просьба!</h2>
                {% endif %}
                <p>Вы можете попросить людей из нашего сообщества сделать что-то нужное для вас. После этого вам нужно будет выполнить любые три просьбы других людей на сайте.</p>
            </div>
        </div>
        <div class="grid_6 box-1">

            {% if user.is_authenticated %}
                <img class="img-border " src="{{ MEDIA_URL }}{{ user.userprofile.avatar }}" alt=""/>
            {% else %}
                <img src="{% static 'images/login.png' %}" alt="">
            {% endif %}
          <div class="extra-wrap">

                <div class="login form">
                    {% if user.is_authenticated %}
                        <h2>Привет, <a href="{% url 'profile' user.id %}">{{ user }}</a></h2>
                        <a class="bigButton" href="{% url 'profile' user.id %}">Личный кабинет</a>
                        <a class="bigButton" href="{% url 'logout' %}">Выход</a>
                    {% else %}
                        <form action="{% url 'login' %}" method="post">
                            <h2>Вход</h2>
                            {% csrf_token %}
                            <input type="text" name="name" value="Логин" onblur="if(this.value=='') this.value='Логин'" onfocus="if(this.value =='Логин' ) this.value=''">
                            <input type="password" name="password">
                            <input class="bigButton" type="submit" value="Ввойти"/>
                        </form>
                        <a class="link" href="{% url 'register' %}">Регистрация</a>
                        <a class="link" href="/remember">Забыли пароль?!</a>
                    {% endif %}
              </div>
          </div>
        </div>

        <div class="grid_12 box-2">
            <div>
                <p class="text-3">По мотивам фильма <span>Заплати другому</span></p>
                <p class="text-4">Вместе мы способны изменить мир к лучшему, это проще, чем ты думаешь!</p>
            </div>
        </div>
        <div class="grid_8">
            <h2 class="top-1"><a href="/tasks">Важные просьбы</a></h2>
            <div class="box-3">
            {% for grand_task in grand_tasks %}
                <div>
                    <a href="{% url 'task_view' grand_task.id %}">
                        <img src="{{ MEDIA_URL }}{{ grand_task.image }}" alt="" class="img-border">
                    </a>
                    <a href="{% url 'task_view' grand_task.id %}" class="link-2">{{ grand_task.name }}</a>
                    <p>{{ grand_task.text|truncatewords:"10" }}</p>
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="grid_8">
            <h2 class="top-1"><a href="/tasks">Свежие просьбы</a></h2>
            <div class="box-3">
                {% for fresh_task in fresh_tasks %}
                <div>
                    <a href="{% url 'task_view' fresh_task.id %}">
                        <img src="{{ MEDIA_URL }}{{ fresh_task.image }}" alt="" class="img-border">
                    </a>
                    <a href="{% url 'task_view' fresh_task.id %}" class="link-2">{{ fresh_task.name }}</a>
                    <p>{{ fresh_task.text|truncatewords:"10" }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="clear"></div>
    </div>
</section>
    <div id="create_task_dialog" title="Добавление просьбы">
        <form method="POST" class="form" enctype="multipart/form-data" action="{% url 'create_task' %}" id="create_task_form">
            {% csrf_token %}
            {% for field in task_form.visible_fields %}
                <label for="">{{ field.label }}</label>
                {% render_field field %}

                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
            {% endfor %}
            <input type="submit" class="button top-4" value="Добавить">
        </form>
    </div>
{% endblock %}
